#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  gap: 1px;
}

.card button {
  flex: 1;
  border-radius: 0;
  outline: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.card button:hover {
  opacity: 0.8;
}

.card button:active {
  opacity: 0.9;
}